{% extends 'base.html' %}
<div class="container">
{% block content %}
<section>
        <div class="container">
            <div class="charityform">
    {% csrf_token %}
    <h1> Charity Places </h1>
    {% for charity in charity %}
    <strong>{{ charity.charity_name }}</strong>
    <ul>
        <li><strong>Name:</strong> {{ charity.charity_name }}</li>
        <li><strong>Address:</strong> {{ charity.street_name }}</li>
        <li><strong>Post Code:</strong> {{ charity.post_code }}</li>
        <li><strong>City Name:</strong> {{ charity.district_name }}</li>
        <li><strong>Phone No:</strong> {{ charity.contact_number }}</li>
        <li><strong>Website:</strong><a href="{{ charity.website }}">{{ charity.website }}</a></li>
        <li><strong>Opening hours:</strong>{{ charity.open_hours }}</li>
        <li><strong>Other Info:</strong> {{ charity.extra_info }}</li>
    </ul>
    {% endfor %}
            </div>
        </div>
</section>
    <div class="footer">
        <p style="font-family:'Lucida Handwriting'">© 2022 ARB Creation </p>
    </div>
{% endblock %}
</div>