{% extends 'base.html' %}
<div class="container">
    {% block content %}

    <section>
        <div class="container">
            <div class="home">
        Home page
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </div>
            </div>

    </section>
    <div class="footer">
        <p style="font-family:'Lucida Handwriting'">© 2022 ARB Creation </p>
    </div>
    {% endblock %}
</div>
