<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- <a href="/" class="nav-branding">CharityFinder</a> -->
                <ul class="nav-menu">
                    <li class="nav-link"><a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="nav-link"><a href="{% url 'charity' %}">Charity</a></li>
                    <li class="nav-link"><a href="{% url 'about' %}">About</a></li>
                    <li class="nav-link"><a href="{% url 'donate' %}">Donate</a></li>
                    <li class="nav-link"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <div class="search-container" >
                        <form method=POST action="{% url 'search_charity' %}">
                            {% csrf_token %}
                            <input type="text" placeholder="Search.." name="searched" required>
                            <button type="submit"><i class="fa fa-search" style="font-size:18px"></i></button>
                        </form>
                    </div>
            </nav>

        </div>
    </header>
</body>
</html>